<header class="text-[#F2F3F4]">
  <div class="hidden mx-auto w-full max-w-[1200px]  md:flex justify-between items-center px-8 py-3">
    <h1 routerLink="/home" class="text-3xl font-audiowide cursor-pointer">MAKE IT HAPPEN</h1>
    <div class="flex items-center gap-5">
      <lucide-icon name="Search" color="" class="w-10 h-10"></lucide-icon>
      <app-search-input></app-search-input>
      <button routerLink="/user" class="btn btn-sm md:btn-md w-24 btn-accent">Login</button>
      <!-- <div class="avatar">
        <div class="mask mask-squircle w-16">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div> -->
    </div>
  </div>

  <div class="md:hidden mx-auto w-full max-w-[1200px] border flex flex-col gap-3 justify-between items-center p-3 py-3">
    <div class="flex items-center gap-5">
      <h1 class="text-xl font-audiowide">MAKE IT HAPPEN</h1>
      <button class="btn btn-sm md:btn-md btn-accent">Login</button>
      <!-- <div class="avatar">
        <div class="mask mask-squircle w-16">
          <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
        </div>
      </div> -->
    </div>
    <app-search-input></app-search-input>
  </div>
</header>