<div class="max-w-4xl mx-auto bg-white rounded-lg shadow-sm p-2 mb-5">
  <!-- TABS -->
  <div role="tablist" class="hidden md:tabs tabs-boxed">
    <a role="tab" class="tab">Projeto</a>
    <a role="tab" class="tab tab-active">Apoio</a>
    <a role="tab" class="tab">Recompensa</a>
  </div>

  <!-- Content -->
  <div class="flex flex-col md:flex-row gap-6">
    <!-- Project Info -->
    <div class="flex-1 p-4">
      <div class="flex flex-col gap-4 justify-center">
        <img src="../../../assets/default.png" alt="Ordem Paranormal" class="w-full h-16 rounded object-cover" />
        <div class="text-center">
          <h3 class="font-medium">Ordem Paranormal: Enigma do Medo</h3>
        </div>
        <button class="btn btn-sm btn-primary mt-2 gap-2">
          <lucide-icon name="MessageSquare" class="h-5 w-5"></lucide-icon>
          Enviar comentário
        </button>
      </div>
    </div>

    <!-- Support Info -->
    <div class="flex-1 p-4 space-y-3">
      <div class="text-xl font-bold">R$ 30</div>
      <div class="flex items-center gap-2 text-sm text-gray-600 mt-2">
        <lucide-icon name="CheckCircle" class="h-5 w-5 text-green-600"></lucide-icon>
        <span>Confirmado em 02/12/2023</span>
      </div>
      <div class="flex items-center gap-2 text-sm text-gray-600 mt-1">
        <lucide-icon name="CreditCard" class="h-5 w-5"></lucide-icon>
        <span>Cartão de Crédito</span>
      </div>
      <div class="text-sm text-gray-600 mt-1">
        ID do Apoio: 26103722/2
      </div>
      <a class="text-sm text-blue-500 hover:underline mt-1 block">
        Ver recibo
      </a>

      <label class="flex items-center gap-2 cursor-pointer">
        <input type="checkbox" class="checkbox checkbox-sm" />
        <span class="text-sm text-gray-600">
          Quero que meu apoio não seja público
        </span>
      </label>

    </div>

    <!-- Reward Info -->
    <div class="flex-1 p-4 space-y-3">
      <div class="font-medium mb-2">Classe A</div>
      <p class="text-sm text-gray-600">
        Em desenvolvimento[...]
      </p>
      <div class="mt-4">
        <div class="text-sm">
          <span class="text-gray-600">Estimativa de entrega:</span>
          <span class="font-medium ml-1">Junho/2028</span>
        </div>
        <div class="text-sm">
          <span class="text-gray-600">Status da entrega:</span>
          <span class="font-medium ml-1">Não enviada</span>
        </div>
      </div>
      <label class="flex items-center gap-2 cursor-pointer">
        <input type="checkbox" class="checkbox checkbox-sm" />
        <span class="text-sm">Recebi</span>
      </label>
    </div>

  </div>


</div>