<form>
    <label for="register-email">
        E-mail
        <input type="text" name="email" id="register-email">
    </label>
    <label for="register-password">
        Senha
        <input type="password" name="password" id="register-password">
    </label>
    <label for="confirm-password">
        Repita a senha
        <input type="password" name="password" id="confirm-password">
    </label>

    <button type="submit" class="btn">Cadastrar</button>
    <button class="btn btn-google">Criar conta com o Google</button>
</form>