$azul-claro: #5dade2;
$verde-menta: #58d68d;
$cinza-claro: #f2f3f4;
$cinza-napkin: #484848;
$cinza-catarse: #3f4752;
$azul-catarse: #3995db;
$amarelo-pastel: #f7dc6f;
$laranja-claro: #F19B4C;
$verde-agua: #1bf1ff;
$btn-text: #f9fafb;
