<main class="flex flex-col mx-auto">
  <!-- BG HERO -->
  <div class="bg-cover bg-center bg-no-repeat w-screen h-56 md:h-48 fixed top-0 left-0 -z-10"
    style="background-image: url('../../../../assets/bg-header.png');">
  </div>
  <!-- TITLE -->
  <div class=" mx-auto text-center flex justify-center items-center">
    <h1 class="h-20 text-4xl md:text-5xl font-audiowide mt-5">Hortência Flores</h1>
  </div>

  <div class="flex flex-1 flex-col bg-white">
    <!-- TABS -->
    <div role="tablist" class="tabs tabs-bordered max-w-[600px] mx-auto my-8 md:my-20">
      <a role="tab" class="tab">Perfil</a>
      <a role="tab" class="tab tab-active">Apoiados</a>
      <a role="tab" class="tab">Criados</a>
      <a role="tab" class="tab">notificaçoes</a>
      <a role="tab" class="tab">Saldo</a>
    </div>
    <!-- CONTENT -->
    <div class="flex flex-1 justify-center items-center">
      <!-- <app-receipt></app-receipt> -->
      <!-- <app-balance></app-balance> -->
      <!-- <app-private-data-form></app-private-data-form> -->
       <app-public-data-form></app-public-data-form>
    </div>
  </div>
</main>