/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul-claro: #5dade2;
  --verde-menta: #58d68d;
  --cinza-claro: #f2f3f4;
  --cinza-napkin: #484848;
  --cinza-catarse: #3f4752;
  --azul-catarse: #3995db;
  --amarelo-pastel: #f7dc6f;
  --laranja-claro: #F19B4C;
  --verde-agua: #1bf1ff;
  --btn-text: #f9fafb;
}


* {
  font-family: 'Urbanist', sans-serif;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

/* Estilo para as opções do select */
.custom-select option:hover {
  background-color: #f97316;
  /* Laranja */
  color: white;
  /* Cor do texto ao passar o mouse */
}