/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Urbanist', sans-serif;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
}

/* Estilo para as opções do select */
.custom-select option:hover {
  background-color: #f97316; /* Laranja */
  color: white; /* Cor do texto ao passar o mouse */
}


